/* src/global.css */

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set default font family and base font size */
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #333;
}
